* {
  margin: 0;
  padding: 0;
  font-family: "robot", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
nav ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #d62215dc;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}

.marvel {
  color: rgba(237, 29, 36);
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
h2 {
  color: #fff;
  font-size: 100px;
}
p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1 {
  background-image: url(images/Eternals.jpeg);
}
.card2 {
  background-image: url(images/shang-chi.jpg);
}
.card3 {
  background-image: url(images/Eternals.jpeg);
}
.card4 {
  background-image: url(images/Eternals.jpeg);
}
.card:hover {
  transform: translateY(-10px);
}
h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}
.container2 {
  max-width: 100%;

  margin: auto;
}
.row footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-col ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d62215dc;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbb;
  display: block;
  transition: all 0.5s ease;
}
.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}
